version: 2
updates:
  - package-ecosystem: npm
    directory: '/'
    groups:
      babel:
        patterns:
          - '@babel*'
        update-types:
          - 'minor'
          - 'patch'
      fortawesome:
        patterns:
          - '@fortawesome*'
        update-types:
          - 'minor'
          - 'patch'
      rnx-kit:
        patterns:
          - '@rnx-kit*'
        update-types:
          - 'minor'
          - 'patch'

    schedule:
      interval: daily
      time: '13:00'
    labels:
      - 'Type: Dependencies'
    versioning-strategy: lockfile-only
