pr:
  - master

pool:
  vmImage: 'macos-latest'

variables:
  CI: true

steps:
  - checkout: self
    persistCredentials: true

  - task: NodeTool@0
    inputs:
      versionSpec: '10.x'
    displayName: 'Install Node.js'

  - script: |
      yarn
    displayName: 'yarn'

  - script: |
      yarn checkchange
    displayName: 'check change'

  - script: |
      yarn build
    displayName: 'yarn build'

  - script: |
      yarn check-for-changed-files
    displayName: 'Verify API and Ensure Changed Files'

  - script: |
      yarn bundle
    displayName: 'yarn bundle'
    env:
      CI=true
