# Node.js with React
# Build a Node.js project that uses React.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

pr:
- master

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '10.x'
  displayName: 'Install Node.js'

- script: |
    yarn
    npm run build
  displayName: 'yarn install and build'
  failOnStderr: true

- script: |
    yarn verify-api
    yarn check-for-changed-files
  displayName: 'Verify API and Ensure Changed Files'
  failOnStderr: true
