//
//  Copyright (c) Microsoft Corporation. All rights reserved.
//  Licensed under the MIT License.
//

PRODUCT_MODULE_NAME = FluentUITester
SWIFT_MODULE_NAME = FluentUITester
PRODUCT_BUNDLE_IDENTIFIER = Microsoft.FluentUITester-iOS
PRODUCT_NAME = FluentUITester-iOS
SDKROOT = iphoneos

ALWAYS_SEARCH_USER_PATHS = NO
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
CLANG_ANALYZER_NONNULL = YES
CLANG_ANALYZER_NUMBER_OBJECT_CONVERSION = YES_AGGRESSIVE
CLANG_ENABLE_MODULES = YES
CLANG_WARN_BOOL_CONVERSION = YES
CLANG_WARN_CONSTANT_CONVERSION = YES
CLANG_WARN__DUPLICATE_METHOD_MATCH = YES
CLANG_WARN_INFINITE_RECURSION = YES
CLANG_WARN_INT_CONVERSION = YES
CLANG_WARN_UNGUARDED_AVAILABILITY = YES_AGGRESSIVE
CLANG_WARN_UNREACHABLE_CODE = YES
GCC_WARN_UNUSED_FUNCTION = YES
GCC_WARN_UNUSED_VARIABLE = YES
SWIFT_TREAT_WARNINGS_AS_ERRORS = YES
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks

INFOPLIST_FILE = FluentUITester/Info.plist

// Versions
IPHONEOS_DEPLOYMENT_TARGET = 12.0;
SWIFT_VERSION = 5.0
