//
//  Copyright (c) Microsoft Corporation. All rights reserved.
//  Licensed under the MIT License.
//

#include "Pods/Target Support Files/Pods-Shared-FluentUITester-macOS/Pods-Shared-FluentUITester-macOS.debug.xcconfig"
#include "Common.xcconfig"

SWIFT_ACTIVE_COMPILATION_CONDITIONS = DEBUG
SWIFT_OPTIMIZATION_LEVEL = -Onone
GCC_OPTIMIZATION_LEVEL = 0
COPY_PHASE_STRIP = NO
