// For publish builds, only provide line tables for symbolizing crashes
CLANG_DEBUG_INFORMATION_LEVEL=line-tables-only
OTHER_SWIFT_FLAGS=-gline-tables-only

// Optimize for size in publish builds
SWIFT_OPTIMIZATION_LEVEL=-Osize
SWIFT_REFLECTION_METADATA_LEVEL=none

// Build for all architectures, not just the active one
ONLY_ACTIVE_ARCH=NO

// Build for distribution so that this is consumable from other versions of Xcode
BUILD_LIBRARY_FOR_DISTRIBUTION=YES
