# Build pipeline for publishing

trigger:
  batch: true
  branches:
    include:
      - main
      - releases/*

pr: none

parameters:
  - name: skipNpmPublish
    displayName: Skip Npm Publish
    type: boolean
    default: false
  - name: skipGitPush
    displayName: Skip Git Push
    type: boolean
    default: false
  - name: skipNugetPublish
    displayName: Skip Nuget Publish
    type: boolean
    default: false

variables:
  - group: 'FluentUI React Native Secrets'
  - group: InfoSec-SecurityResults
  - name: tags
    value: production,externalfacing
  - template: variables/vars.yml

resources:
  repositories:
    - repository: OfficePipelineTemplates
      type: git
      name: 1ESPipelineTemplates/OfficePipelineTemplates
      ref: refs/tags/release

extends:
  template: v1/Office.Official.PipelineTemplate.yml@OfficePipelineTemplates
  parameters:
    pool:
      name: Azure-Pipelines-1ESPT-ExDShared
      image: windows-latest
      os: windows
    sdl:
      eslint:
        configuration: 'recommended'
        parser: '@typescript-eslint/parser'
        parserOptions: 'sourceType:script\necmaVersion:2017'
        customEnvironments: true
        environmentsBrowser: true
        environmentsEs6: true
        environmentsNode: true
    stages:
      - stage: main
        jobs:
          - job: NPMPublish
            displayName: NPM Publish
            pool:
              name: Azure-Pipelines-1ESPT-ExDShared
              image: ubuntu-latest
              os: linux
            templateContext:
              outputs:
                - output: pipelineArtifact
                  targetPath: $(System.DefaultWorkingDirectory)
                  artifactName: dist
            steps:
              - template: .ado/templates/setup-repo.yml@self

              - script: |
                  git config user.name "UI-Fabric-RN-Bot"
                  git config user.email "uifrnbot@microsoft.com"
                  git remote set-url origin https://$(githubUser):$(githubPAT)@github.com/microsoft/fluentui-react-native.git
                displayName: Git Authentication

              - script: |
                  yarn
                displayName: 'yarn install'

              - script: |
                  yarn buildci
                displayName: 'yarn buildci [test]'

              - script: |
                  export NPM_TOKEN=$(npmAuth)
                  yarn changeset:publish --access public
                displayName: 'Publish NPM Packages with Changesets'
                condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/main'), not(${{ parameters.skipNpmPublish }}))
                env:
                  NPM_TOKEN: $(npmAuth)

              - script: |
                  yarn publish:beachball $(SkipNpmPublishArgs) $(SkipGitPushPublishArgs) --access public --token $(npmAuth) -y -t v${{ replace(variables['Build.SourceBranch'],'refs/heads/releases/','') }} -b origin/${{ replace(variables['Build.SourceBranch'],'refs/heads/','') }} --prerelease-prefix ${{ replace(variables['Build.SourceBranch'],'refs/heads/releases/','') }}
                displayName: 'Publish NPM Packages (for other release branches)'
                condition: and(succeeded(), ne(variables['Build.SourceBranch'], 'refs/heads/main'))

          - template: .ado/templates/win32-nuget-publish.yml@self
            parameters:
              skipNugetPublish: ${{ parameters.skipNugetPublish }}

          - template: .ado/templates/e2e-dependency-nuget-publish.yml@self
            parameters:
              skipNugetPublish: ${{ parameters.skipNugetPublish }}
