# Build pipeline for publishing

trigger:
  batch: true
  branches:
    include:
      - master

pr: none

#variables:
#  - group: 'NPM and Github Secrets'

pool:
  vmImage: 'ubuntu-latest'

steps:
  - task: NodeTool@0
    inputs:
      versionSpec: '12.x'
    displayName: 'Install Node.js'

  #- script: |
  #    git config user.name "UI-Fabric-RN-Bot"
  #    git config user.email "uifrnbot@microsoft.com"
  #    git remote set-url origin https://$(githubUser):$(githubPAT)@github.com/microsoft/ui-fabric-react-native.git
  #  displayName: Git Authentication

  - template: templates/yarn-install.yml

  - script: |
      yarn test
    displayName: 'yarn test'

  - template: templates/publish-nuget-job.yml
